div {
    text-align: center;
}
#content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}